*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
/* for aligning the contents at the centre*/
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    /*background-image: url("background.jpg");*/
    outline-color: #9b59b6;
}
/* for creating box for the centerd aligned content*/
.container{
  max-width: 500px;
  width:100%; 
  background:#fff;
  /*opacity: 100%;*/ 
  padding: 25px 30px;
  border-radius: 5px;
  color:black;

}

/*merge item of content and title class*/
.container .title{
  font-size: 25px;
  font-weight: 500;
  position:relative;
  color: rgb(182, 173, 173);
}
/* for drawing a small line down the Registration title*/ 
.container .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:0;
    height:3px;
    width:30px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
/*for arranging the text*/
.container form  .user-details{
    /*display: flex;*/
    /*flex-wrap:wrap;*/
    justify-content: space-between;
    /*margin:20px 0 12px 0;*/
   
}
/*for arranging the text boxes*/
 form .user-details .input-box{
    margin:20px 0 12px 0;
    margin-bottom: 15px;
    width:calc(100%/ 2- 20px);
}
.user-details .input-box input .details{
    display:block;
   font-weight: 500;
   margin-bottom: 5px;
   color: black;
}
/*text border*/
.user-details .input-box input{
    height: 45px;
    width:100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition :all 0.3s ease;
}

/* for colouring the text-box border*/
.user-details .input-box input:focus,
.user-details .input-box input:valid{
   border-color:#9b59b6;
}
form.button{
    height: 50px;
    margin:45px 0;

}
form .button input{
    height:40px;
    width:100%;
    outline:none;
    color:black;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
    /*border-bottom: 30px;
    border-top: 10px;*/
    margin-top:20px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6); 
}

form .button input:hover{
    background:linear-gradient(135deg,#71b7e6,#9b59b6); 
}
.signup{
    text-align: center;
    margin-top: 10px;
    color:#262626;
    letter-spacing: 1px;
    font-weight: 900;
}
.container .login label{
    margin-bottom: 10px;
    padding-left:20px;
    margin-right: 4px;
}
.login input{
    justify-content: space-between;
}
.checkbox{
    position:absolute;
    left:460px;
}