*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
/* for aligning the contents at the centre*/
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    /*background-image: url("background.jpg");*/
    outline-color: #9b59b6;
}
/* for creating box for the centerd aligned content*/
.container{
  max-width: 700px;
  width:100%; 
  background:#fff;
  /*opacity: 100%;*/ 
  padding: 25px 30px;
  border-radius: 5px;
  color:black;

}
/*merge item of content and title class*/
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    color: rgb(182, 173, 173);
  }
  /* for drawing a small line down the Registration title*/ 
  .container .title::before{
      content:'';
      position: absolute;
      left: 0;
      bottom:0;
      height:3px;
      width:30px;
      background:linear-gradient(135deg,#71b7e6,#9b59b6);
  }
  /*for arranging the text*/
  .container form  .user-details{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      /*margin:20px 0 12px 0;*/
     
  }
  /*for arranging the text boxes*/
 form .user-details .input-box{
    margin:20px 0 12px 0;
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px);
}
.user-details .input-box input .details{
    display:block;
   font-weight: 500;
   margin-bottom: 5px;
   padding:10px;
}
/*text border*/
.user-details .input-box input{
    height: 45px;
    width:100%;
    outline: none;
    border-radius: 20px;
   border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition :all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
   border-color:#9b59b6;
}
.gender{
    font-family: 'Times New Roman', Times, serif; 
    color:rgb(182, 173, 173);
}
/*merge item of content and title class*/
.container .title{
  font-size: 25px;
  font-weight: 500;
  position:relative;
  color: rgb(182, 173, 173);
}
/* for drawing a small line down the Registration title*/ 
.container .title::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:0;
    height:3px;
    width:30px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
/*for arranging the text*/
.container form  .user-details{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    /*margin:20px 0 12px 0;*/
   
}
/*for arranging the text boxes*/
 form .user-details .input-box{
    margin:20px 0 12px 0;
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px);
}
.user-details .input-box input .details{
    display:block;
   font-weight: 500;
   margin-bottom: 5px;
   padding:10px;
}
/*text border*/
.user-details .input-box input{
    height: 45px;
    width:100%;
    outline: none;
    border-radius: 20px;
   border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition :all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
   border-color:#9b59b6;
}
/* for gender font-size*/
form .gender-details .gender-title{
    font-size:20px;
    font-weight: 500;
}
/* for giving space between the gender category*/
form .gender-details .category{
    display:flex;
    width:80%;
    margin:14px 0;
    justify-content: space-between;
}
/* for creating a radio button*/
.gender-details .category label{
    display:flex;
    align-items: center;

}
/* size of the radio button*/
.gender-details .category .dot{
    height: 18px;
    width:18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition:all 0.3s ease;

}
/* for the radio-button dot creation*/
#dot-1:checked ~.category label .one,
#dot-2:checked ~.category label .two,
#dot-3:checked ~.category label .three{
    border-color:#d9d9d9 ;
    background: #9b59b6;
}
/*for removing the radio button from the Gender line*/
form input[type="radio"]{
    display:none;

}
form.button{
    height: 45px;
    margin:45px 0;

}
form .button input{
    height:40px;
    width:100%;
    outline:none;
    color:black;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
    /*border-bottom: 30px;
    border-top: 10px;*/
    background:linear-gradient(135deg,#71b7e6,#9b59b6); 
}

form .button input:hover{
    background:linear-gradient(135deg,#71b7e6,#9b59b6); 
}
/* to achieve the contents when it is minimized/maximized*/
@media (max-width:584px){

    .container{
        max-width:100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width:100%;
    }form .gender-details .category{
        width:100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;

    }
}
/*.user-details.input-box.details.success input {
    border-color: #09c372;
}

.user-details.input-box.details.error input {
    border-color: #ff3860;
}

.user-details.input-box.details.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}*/
.button-login{
   text-align: center;
   letter-spacing: 1px;
   font-weight: 800;
   margin-top:10px;

}